
<div class="login-status-header">
    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
      Welcome back {{userFullName}}
    </div>

  <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>
  <button *ngIf="isAuthenticated" routerLink="/login" class="security-btn" (click)="logout()">LogOut</button>
</div>
