<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">


      <div *ngIf="shoppingCart.length > 0">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th width="20%">Product image</th>
            <th width="50%">Product Detail</th>
            <th width="30%"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cartItem of shoppingCart ">
            <td>
              <img src="{{cartItem.imageUrl}}" class="img-responsive" width="150px">
            </td>
            <td>
              <p>{{cartItem.name}}</p>
              <p>{{cartItem.unitPrice | currency: 'USD'}}</p>
            </td>
            <td>

              <div class="items">
                <label> Quantity </label>
                <div class="row no-gutters">
                  <div class="col">
                    <button (click)="incrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>

                  <div class="col ml-4 mr-2">
                    {{cartItem.quantity}}
                  </div>

                  <div class="col">
                    <button (click)="decrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>

                  <div class="col-8"></div>

                </div>
              </div>
              <button (click)="remove(cartItem)" class="btn btn-primary btn-sm mt-2">
                Remove
              </button>
              <p class="mt-2">SubTotal: {{cartItem.quantity * cartItem.unitPrice | currency:'USD'}}</p>
            </td>
          </tr>

          </tbody>
          <tfoot>
          <tr>
            <td colspan="2"></td>
            <td style="font-weight: bold">
              <p>Total Quantity: {{totalQuantity}}</p>
              <p>Shipping: FREE</p>
              <p>Total Price: {{totalPrice | currency:'USD'}}</p>
              <a  routerLink="/checkout" class="btn btn-primary btn-sm mt-2">
                Checkout
              </a>
            </td>
          </tr>
          </tfoot>

        </table>
      </div>
      <div *ngIf="shoppingCart.length == 0" class="alert alert-warning col-md-12" role="alert">
        Your Shopping Cart is empty
      </div>
    </div>
  </div>
</div>
