<div class="form-header">
  <input #myInput type="text" placeholder="Search for products ..."
         class="au-input au-input-xl"
         (keyup.enter)="doSearch(myInput.value)"/>

  <button class="au-btn-submit"
          (click)=doSearch(myInput.value)>
    Search
  </button>

</div>
